
.image-container {
  position: relative;
  max-width: 100%;
}

.mystyle {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.overlay {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%; 
  background: white;/* Adjust this value to control the height of the overlay */
}
.items {
  display: flex;
  justify-content: center;
}
.item img {
   width : 200px;
   margin: 0px 20px 0px;
   border-radius: 10px;
}
.item p {
  text-align: center;
}