.recommendation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px; /* Added margin */
  padding: 20px; /* Added padding */
  background-color: #fff; /* White background */
}
.recommendation-bar{
  align-items: center;
  gap: 20px;
  margin: 20px; /* Added margin */
  padding: 20px; /* Added padding */
  border: 2px solid #ccc; /* Added border for visual separation */
  border-radius: 10px; /* Rounded corners */
  background-color: #fff; /* White background */
}
.recommendation-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.item {
  text-align: center;
}

.recommendation img {
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 18px;
  margin-top: 10px;
}
