.app-container {
    display: flex;
    height: 100vh;
  }
  
  .left-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-container {
    flex: 1;
    padding: 20px;
  }
  