.main{
    text-align: center;
}
.Options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Options img{
    width: 300px;
    position: relative;
}
.img1 {
    background: rgb(226, 230, 252);
    margin: 10px;
}
.img2 {
    background: rgb(206,244,237);
    margin: 10px;
}
.img3 {
    background: rgb(251, 243, 191);
    margin: 10px;
}