/* homepage-style.css */
.wardrobe {
    margin-bottom: 100px;
}
.cloths {
    display: flex;
    justify-content: center;
}
.cloth-types {
    border: 2px solid gray;
    border-radius: 5px;
}
.home-page {
    display: flex;
    margin: 20px;
}
