.sidebar-a {
    width: 25%;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.sidebar {
    width: 100%;
    background-color: #f4f4f4;
    padding: 2px;
    /* border-radius: 8px; */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

.sidebar-title {
    font-size: 1.2rem;
    color: #333;
}

.tags-container {
    /* width: 80%; */
    display: flex;
    overflow: auto;
    /* white-space: nowrap; */
    margin-top: 15px;
}
.tag {
    background-color: #3498db;
    color: #fff;
    padding: 4px 8px;
    border-radius: 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 1rem;
}

.tag:hover {
    background-color: #2980b9;
}

.button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: #c0392b;
}
